@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html, body {
  height: 100%;
  width: 100%;
}

.video {
    display: block;
    margin: auto;
}

.row {
  margin-top: 10px;
}

.post-content blockquote {
    opacity: 1;
    font-style: normal;
    background: beige;
    /*font-family: 'Roboto Slab', serif;*/
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 300;
    letter-spacing: normal;
    font-size: 21px;
}

.post-header {
    padding-top: 33px;
    color: #31849b;
}

.post-thumbnail {
  margin-top: 1em;
}

.posts-home {
    margin-top: 75px;
}

.post-link-small {
	font-size: 16px;
}

pre,
pre code {
    margin: 0;
    padding: 0;
}

.thumbnail {
	width: 200px;
	height: auto;
}

.post-link {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font face="verdana";
  letter-spacing: 0em;
  color: #31849b;
}

.post-content,
div.col-lg-9.col-md-8.col-sm-12.col-xs-12 > div > p {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 100;
  font-size: 21px;
}

.post-content > h2 {
  font-weight: bold;
  line-height: 2;
}

.pagination {
  font-size: x-large;
}

.custom-tag,
body > div > div > div > div > header > span > a,
body > div > div > div > div > header > span > a:hover,
body > div > div > div > div > header > span > a:visited {

	background-color: #31849b;
	color: white;
}

.page-content {
	padding-top: 75px;
}

.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

.panel-body.center {
	text-align: center;
}

#logo-text > a {
	font-family: "Verdana";
	font face="verdana";
    letter-spacing: 0em;
	font-size: xx-large;
	color: white;
}

.btn, .btn-default {
	color: white;
  background-color: #31849b;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}

.btn:hover, .btn-default:hover {
  background-color: #215b6b;
  color: white;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-width: 1px;
}

#navbar-container,
#nav-list > li > a {
	color: white;
	background-color: #31849b;
	font-family: "Verdana";
	font-face="verdana";
	font-size: 14px;
}
.navbar-toggle {
	background-color: white;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#main-section {
  background: url(../images/traversoft-main.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mobile-dev-description {
	margin-top: 15%;
}

#services-header {
	margin-top: 0px;
}
#services-section {
  background-color: #31849b;
  color: #ffffff;
}
#services-section .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#recommendation-section {
  background: url(../images/traversoft-code.png) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#recommendation .panel {
  opacity: 0.85;
}

#google_map {
  height: 400px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
.legalese {
	font-size: smaller;
	margin-top: 0px;
	margin-bottom: 0px;
}

.fa.fa-small {
	font-size: 19px;
	text-align: center;
	top: 7px;
	outline: none;
}

.fa-custom {
	font-size: 90px;
	text-align: center;
	top: 7px;
	outline: none;
}

a.facebook-like i,
.facebook-like h3.list-group-item-heading {
	color:#3b5998;
}
a.facebook-like:hover {
	background-color:#3b5998;
}

a.google-plus i,
.google-plus h3.list-group-item-heading {
	color:#dd4b39;
}
a.google-plus:hover {
	background-color:#dd4b39;
}

a.twitter i,
.twitter h3.list-group-item-heading {
	color:#00acee;
}
a.twitter:hover {
	background-color:#00acee;
}

a.linkedin i,
.linkedin h3.list-group-item-heading {
	color:#0e76a8;
}
a.linkedin:hover {
	background-color:#0e76a8;
}

a.google i,
.google h3.list-group-item-heading {
	color:#A4C739;
}
a.google:hover {
	background-color:#A4C739;
}

a.apple i,
.apple h3.list-group-item-heading {
	color:#000000;
}
a.apple:hover {
	background-color:#000000;
}

a.github i,
.github h3.list-group-item-heading {
	color:#000000;
}
a.github:hover {
	background-color:#000000;
}

a.mail i,
.mail h3.list-group-item-heading {
	color: orange;
}
a.mail:hover {
}
#mail-link {
color: white;
}


a.facebook-like:hover,
a.google-plus:hover,
a.twitter:hover,
a.linkedin:hover,
a.mail:hover,
a.apple:hover,
a.android:hover
{
	color:#FFF;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#main-section {
	  background: url(../images/traversoft-main.png) no-repeat center center;
	  display: table;
	  height: 400px;
	  position: relative;
	  width: 100%;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
	.fa {
		font-size: 60px;
		text-align: center;
		top: 7px;
		outline: none;
	}
}
