<div class="site-cover-section mdl-typography--text-center">
  <div class="site-cover-section-overlay mdl-typography--text-center"></div>
  <div class="site-cover-section-above-overlay mdl-typography--text-center">
    <div id="logos">
      <div class="site-card-container mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone clear-card mdl-card center-align-items">
            <img src="img/devfest-florida-logo.png" class="cover-logo">
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone clear-card mdl-card center-align-items">
            <div class="white logo-font site-slogan">DevFest Florida<br>2019</div>
            <!-- <div class="white logo-font site-slogan">DevFest Florida<br>January 19<sup>th</sup> 2019</div> -->
            <div class="white logo-font site-sub-slogan">Florida's most magical developer conference. Held steps from the Magic Kingdom in Walt Disney World and offering over 20 expert speaker talks on all the hot topics in technology</div>
            <div style="margin-top:20px;">
              <a class="big-button white mdl-button mdl-js-ripple-effect" href="https://firebaseapp.us13.list-manage.com/subscribe/post?u=3f4db9aefbaccd123ad402ffd&amp;id=74fc03d0fa" target="_blank">Get notified</a>
              <!-- <a class="buyticket-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://devfestflorida.eventbrite.com" target="_blank">Buy ticket</a> -->
               <!-- <a class="big-button white mdl-button mdl-js-ripple-effect" href="https://docs.google.com/forms/d/13Bs4pC88mp2_EYUmOm2rhAGEhp7tVuwRKG_u3nR2YuM/viewform?entry.381167392=https://www.meetup.com/GDG-Central-Florida/events/239734946/" target="_blank">Take our Survey</a> -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
