<div class="site-cover-section mdl-typography--text-center">
  <div class="site-cover-section-overlay mdl-typography--text-center"></div>
  <div class="site-cover-section-above-overlay mdl-typography--text-center">
    <div id="logos">
      <div class="site-card-container mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone clear-card mdl-card center-align-items">
            <img src="img/devfest-florida-logo.png" class="cover-logo">
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone clear-card mdl-card center-align-items">
            <div class="white logo-font site-slogan">DevFest Florida<br>November 11<sup>th</sup> 2017</div>
            <div class="white logo-font site-sub-slogan">Florida's biggest Google technology conference. Organized by three Google Developer Groups in the central Florida area: Space Coast, Central Florida, and Tampa Bay. These GDG chapters support the Orlando, Melbourne and Tampa/St. Pete areas of central Florida. </div>
            <div style="margin-top:20px;">
               <a class="big-button white mdl-button mdl-js-ripple-effect" href="https://docs.google.com/forms/d/13Bs4pC88mp2_EYUmOm2rhAGEhp7tVuwRKG_u3nR2YuM/viewform?entry.381167392=https://www.meetup.com/GDG-Central-Florida/events/239734946/" target="_blank">Take our Survey</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
