<div id="speakers">
  <div class="site-section-title logo-font section-header mdl-typography--display-1-color-contrast">Featured Speakers</div>
    <div class="site-card-container mdl-grid">

      {% for post in site.posts limit:4 %}
        {% assign postUrl = site.baseurl | append: post.url %}

        <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--12-col-phone speaker-card mdl-card center-align-items">
          <a href="{{ postUrl }}" >
              <img src="{{ post.img }}" alt="" class="img-circle"/>
          </a>
          <div class="mdl-card__title center-text-align">
             <h4 class="mdl-card__title-text">{{ post.title }}</h4>
          </div>
        </div>

      {% endfor %}
      <div class="centered-div">
        <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ postUrl }}">View All Speakers</a>
      </div>
    </div>
</div>
