<div id="find-local-gdg">
  <div class="site-section-subtitle logo-font section-header dff-font">Find your local GDG</div>
  <br>
  <div class="site-card-container mdl-grid">
    <div class="centered-div">
      <a href="https://developers.google.com/groups/directory" target="_blank">
          <img src="{{ site.baseurl }}/img/partners/gdg-logo.svg" title="GDG Logo" alt="GDG Logo" style="width:20%">
      </a>
      <br>
      <br>
      <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://developers.google.com/groups/directory/">Check the GDG Directory</a>
    </div>
  </div>
</div>
