<div id="last-year-album">
  <div class="site-section-title white logo-font section-header mdl-typography--display-1-color-contrast dff-font">Check out last year</div>
  <div class="site-card-container mdl-grid">
    <div class="row mdl-cell mdl-cell--12-col">
      <div class="col-lg-12 col-md-12">
        <div class="col-lg-2 col-md-4 col-sm-12">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/1.jpg" />
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 mdl-cell--hide-tablet mdl-cell--hide-phone">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/2.jpg" />
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 mdl-cell--hide-tablet mdl-cell--hide-phone">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/3.jpg" />
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 mdl-cell--hide-tablet mdl-cell--hide-phone">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/4.jpg" />
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/5.jpg" />
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
          <img class="small-img-square" src="{{ site.baseurl }}/img/album/6.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="centered-div">
    <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://goo.gl/photos/kqpSV8jBktprXtXH6">View Album</a>
  </div>
</div>
