<!-- Begin Location Section -->
<div id="location-map" class="location-map">
  <div class="map-section-bg">
    <div class="site-cover-section-overlay"></div>
    <div class="site-cover-section-above-overlay">
      <div id="map-card-container" class="site-card-container mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div id="map-card" class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--6-col-phone mdl-card mdl-shadow--3dp">
          <div class="mdl-card__media">
            <img src="img/venue/magic-kingdom-fireworks.jpg">
          </div>
          <div class="mdl-card__title map-title">
             <h4 class="mdl-card__title-text">Disney's Contemporary Resort</h4>
          </div>
          <div class="mdl-card__subtitle map-subtitle">
            <span class="mdl-typography--font-light mdl-typography--subhead">4600 North World Dr., Orlando, FL 32830</span>
          </div>
          <div class="mdl-card__supporting-text">
            <span class="mdl-typography--font-light mdl-typography--subhead">Designed as an ultra modern hotel, Disney's Contemporary Resort is right next door to the Magic Kingdom. After the conference walk on over to the Magic Kingdom for a ride on the Tea Cups or Space Mountain! The hotel grants any access to the monorail where they can travel to the Ticket & Transportation Hub and transfer to get to Epcot.</span>
          </div>
          <div class="mdl-card__actions">
             <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://disneyworld.disney.go.com/resorts/contemporary-resort/">
               Check out the venue
               <i class="material-icons">chevron_right</i>
             </a>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
