  <div class="site-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="site-title mdl-layout-title">
        <img class="site-logo-image" src="{{ "/img/small-logo.svg" | prepend: site.baseurl }}">
      </span>
      <div class="site-header-spacer mdl-layout-spacer mdl-textfield--align-right"></div>
      <div class="site-navigation-container">
        <nav class="site-navigation mdl-navigation">
          {% for navigationLink in site.navigationLinks %}
            {% if navigationLink.dropdown != null and navigationLink.permalink != nil %}
            {% else %}
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            {% endif %}
          {% endfor %}
          <a class="buyticket-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://devfestflorida.eventbrite.com" target="_blank">Buy ticket</a>
        </nav>
      </div>
      <span class="site-mobile-title mdl-layout-title">
        <img class="site-logo-image" src="{{ "/img/small-logo.svg" | prepend: site.baseurl }}">
      </span>
      <!-- <button class="site-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
      </button> -->
    </div>
  </div>

  <div class="site-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <img class="site-logo-image" src="{{ "/img/small-logo.svg" | prepend: site.baseurl }}">
    </span>
    <nav class="mdl-navigation">
      {% for navigationLink in site.navigationLinks %}
        {% if navigationLink.dropdown != null and navigationLink.permalink != nil %}
        {% else %}
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
