<div id="news">
    <div class="site-section-title logo-font section-header mdl-typography--display-1-color-contrast">Latest News</div>
    <div class="site-card-container mdl-grid">



    {% for post in site.posts limit:4 %}
      {% assign postUrl = site.baseurl | append: post.url %}

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <a href="{{ postUrl }}" >
              <img src="{{ post.img }}" alt="" />
          </a>
        </div>
        <div class="mdl-card__title">
           <h4 class="mdl-card__title-text">{{ post.title }}</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">{{ post.content | strip_html | truncate: 175 }}</span>
        </div>
        <div class="mdl-card__actions">
           <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="{{ postUrl }}">
             Continue reading...
             <i class="material-icons">chevron_right</i>
           </a>
        </div>
      </div>

    {% endfor %}

    </div>
</div>
