<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp" data-toggle="modal" data-target="#speakerDetail-{{ speaker.id }}">
  <div class="header">
    <div id="sizedImgDiv" role="img" aria-label="{{ site.baseurl }}/{{ speaker.thumbnailUrl }}" style="background-image: url('{{ site.baseurl }}/{{ speaker.thumbnailUrl }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
    <img class="photo placeholder-color" src="{{ site.baseurl }}{{ speaker.thumbnailUrl }}" alt="" />
    <div class="photo-overlay"></div>
    <ul class="badges">
    </ul>
    <div class="bottom-image-text">
      <span class="name">{{ speaker.name }}</span>
      <span class="title"></span>
    </div>
  </div>
  <!-- <div class="mdl-card__title speaker-card-title">
    <div>
      {% for tag in speaker.tags %}
        <span class="mdl-chip {{ tag.name}}">
          <span class="mdl-chip__text">{{ tag.name}}</span>
        </span>
      {% endfor %}
    </div>
  </div> -->
  <div class="mdl-card__title speaker-card-subtitle">
    <div id="sizedImgDiv" class="company-logo" role="img" style="background-image: url({{ site.baseurl }}/{{  speaker.companyUrl }}); background-size: contain; background-position: center center; background-repeat: no-repeat;">
    </div>
  </div>
  <div class="speaker-short-bio mdl-card__supporting-text speaker-card-supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">{{ speaker.shortBio }}</span>
  </div>
  <div class="speaker-card-action mdl-card__actions">
    {% include speaker-social.html %}
  </div>
</div>
