<div class="mdl-typography--text-center">
    <div id="sponsors">
      <div class="logo-font sponsor-slogan dff-font">Sponsorship Opportunities</div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--12-col-phone center-align-items">

          <div class="site-card-container mdl-grid">
          {% for block in site.data.footer.footerBlocks %}
            {% if block.title == "For Partners" %}
            <!-- {% assign postUrl = site.baseurl | append: post.url %} -->
              {% for sponsorCard in block.links %}
                <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <a href="{{ sponsorCard.link }}" >
                        <img src="{{ sponsorCard.imgUrl }}" alt="" style="height:auto;width:100%" />
                    </a>
                  </div>
                  <div class="mdl-card__title">
                     <span class="mdl-card__title-text center-card center">{{ sponsorCard.text }}</span>
                  </div>
                  <div class="mdl-card__supporting-text center-card" >
                    <span class="mdl-typography--font-light mdl-typography--subhead center-card center">{{ sponsorCard.subtext }}</span>
                  </div>
                  <div class="mdl-card__actions center">
                     <a class="site-link mdl-button mdl-js-button mdl-typography--text-uppercase center-card center" href="{{ sponsorCard.link }}">
                       View
                     </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
