<!-- Begin Location Section -->
<div id="stats">
  <div class="stats-section-bg">
    <div class="site-stats-section-overlay"></div>
    <div class="site-stats-section-above-overlay">
      <div class="site-card-container mdl-grid">
        <div class="row mdl-cell mdl-cell--12-col">
          <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3">
            <div class="col-sm-3 col-md-3 col-xs-12">
              <div class="white center-align-items logo-font site-slogan">{{ site.data.stats.days }}</div>
              <div class="white center-align-items logo-font site-sub-slogan">DAY</div>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-12">
              <div class="white center-align-items logo-font site-slogan">{{ site.data.stats.sessions }}</div>
              <div class="white center-align-items logo-font site-sub-slogan">SESSIONS</div>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-12">
              <div class="white center-align-items logo-font site-slogan">{{ site.data.stats.speakers }}</div>
              <div class="white center-align-items logo-font site-sub-slogan">SPEAKERS</div>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-12">
              <div class="white center-align-items logo-font site-slogan">{{ site.data.stats.tracks }}</div>
              <div class="white center-align-items logo-font site-sub-slogan">TRACKS</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
