<div class="site-twitter-section">
  <div class="site-section-title logo-font section-header dff-font">
    <img class="embedded-twitter-title" src="{{ site.baseurl }}/img/svg/twitterLogoBlue.svg">
    twitter
  </div>

  <div class="site-card-container mdl-grid">
    <div class="row mdl-cell mdl-cell--12-col">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <blockquote class="twitter-tweet" data-dnt="true" data-partner="tweetdeck"><p lang="en" dir="ltr">Tickets for <a href="https://twitter.com/hashtag/DevFestFL?src=hash">#DevFestFL</a> at Disney&#39;s Contemporary Resort on 11/11/17 are available now at <a href="https://t.co/Prr1WeoEgg">https://t.co/Prr1WeoEgg</a> <a href="https://t.co/55hLuiqZ93">pic.twitter.com/55hLuiqZ93</a></p>&mdash; 🍊DevFest Florida (@DevFestFlorida) <a href="https://twitter.com/DevFestFlorida/status/868280002776903684">May 27, 2017</a></blockquote>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <blockquote class="twitter-tweet" data-dnt="true" data-partner="tweetdeck"><p lang="en" dir="ltr">Call for papers is here &amp; we want to hear from you. Please spread the word. <a href="https://twitter.com/hashtag/DevFestFL?src=hash">#DevFestFL</a> is happening early November. <a href="https://t.co/wxpCBxghVv">https://t.co/wxpCBxghVv</a> <a href="https://t.co/OrkAjPjISv">pic.twitter.com/OrkAjPjISv</a></p>&mdash; 🍊DevFest Florida (@DevFestFlorida) <a href="https://twitter.com/DevFestFlorida/status/845795596342624256">March 26, 2017</a></blockquote>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <blockquote class="twitter-tweet" data-dnt="true" data-partner="tweetdeck"><p lang="en" dir="ltr">Tickets are on sale and we are offering really cheap tickets from now through Memorial Day weekend. <a href="https://t.co/ltyYTDZGC7">pic.twitter.com/ltyYTDZGC7</a></p>&mdash; 🍊DevFest Florida (@DevFestFlorida) <a href="https://twitter.com/DevFestFlorida/status/867733743792009216">May 25, 2017</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
  </div>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
