<div class="site-twitter-section">
  <div class="site-twitter-section-iframe">
    <div id="twitter-wjs" class="embedded-twitter">
      <div class="mdl-card__media">
        <div class="site-section-title logo-font section-header dff-font">
          <img class="embedded-twitter-title" src="{{ site.baseurl }}/img/svg/twitterLogoBlue.svg">
          twitter
        </div>
        <a class="twitter-timeline"
          href="https://twitter.com/{{ site.data.twitter.twitterHandle }}/timelines/{{ site.data.twitter.twitterTimeline }}"
          data-lang="en"
          data-dnt="true"
          data-chrome="nofooter noborders"
          data-height="500"
          data-aria-polite="assertive">{{ site.twitterHandle }}</a>
      </div>
    </div>
  </div>
</div>
