---
layout: post
---

<!DOCTYPE html>
<html lang="en">
  <script src="https://use.fontawesome.com/12203ca2af.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  {% include header.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include navigation.html %}
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="page-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">

          <div class="page-ribbon"></div>
          <main class="page-main mdl-layout__content">
              <div id="blog-post">
                <div class="site-card-container mdl-grid">
                  <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                  <div class="mdl-cell mdl-cell--10-col mdl-cell--12-col-tablet mdl-cell--10-col-phone mdl-card mdl-shadow--3dp">
                    <div class="post-content">
                      <h2>{{ page.title }}</h2>
                      {{ content }}
                    </div>
                    <br>
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase mdl-js-ripple-effect" href="/blog/" data-upgraded=",MaterialButton">
                      <i class="material-icons">chevron_left</i>Back to blog
                    </a>
                  </div>
                  <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                </div>
              </div>

            {% include footer.html %}
          </main>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
